.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.alerta{
  display: none;
}

.imgg{
  width: 360px;
  border-radius: 20%;
  border:solid aliceblue 1px;
}

.jumbotron{
  background-color: #100501;
  color: #ddc5f6;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.fondo{
  background-color: aliceblue;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}